.bg-junta-galera{
  background-color: #9061C2;
}
.btn-rounded{
  border-radius: 25px;
}
.btn-outline{
    border: 2px solid #9061C2;
    background-color: transparent;
    color: #9061C2;
}
.btn-outline:hover{
    background-color: #9061C2;
    color: #ffffff;
}
