body{
  font-family: 'Quicksand', sans-serif;
}
.bg-junta-galera-p{
  background-color: #9061C2;
}
.bg-junta-galera-b{
  background-color: #02BBD3;
}
.bg-junta-galera-y{
  background-color: #F2CF29;
}
.btn-rounded{
  border-radius: 25px;
}
.btn-outline-p{
  border: 2px solid #9061C2;
  background-color: transparent;
  color: #9061C2;
}
.btn-outline:hover{
  background-color: #9061C2;
  color: #ffffff;
}
.btn-outline-b{
  border: 2px solid #02BBD3;
  background-color: transparent;
  color: #02BBD3;
}
.btn-outline-b:hover{
  background-color: #02BBD3;
  color: #ffffff;
}
.btn-outline-y{
  border: 2px solid #F2CF29;
  background-color: transparent;
  color: #F2CF29;
}
.btn-outline-y:hover{
  background-color: #F2CF29;
  color: #ffffff;
}
#comment {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 2px solid #02BBD3;
  padding: 5px;
  margin-bottom: 20px;
  color: #757575;
  resize: none;
  overflow: hidden;
}
.printed-comment{
  width: 100%;
  background: #fff;
  padding: 30px;
  margin-bottom: 10px;
  color: #657786;
  font-size: 1.5rem;
  word-wrap: break-word;
}
.small-date{
  position: relative;
  left: 0%;
  padding: 10px;
  color: #657786;
  font-size: 0.8rem;
  text-align: right;
}
